<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产业集群</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" media="all" rel="stylesheet">
    <link th:href="@{/ui/css/newIndex.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ui/images/favicon.ico}">

</head>
<body >
    <!--导航栏-->

    <div th:include="common/newtop :: common" ></div>

    <!--介绍图-->
    <div class="layui-row layui-btn-fluid brand-img">
        <div class="brand-img wrapper">
            <div class="wrapper-content">
                <h1 >产业集群</h1>
                <h2 >组织产业集群强大的供应商群体与全球采购商资源进行贸易对接</h2>
                <a class="layui-btn layui-btn-big layui-bg-darkblue" href="/placeOrder/info" >现在申请</a>
            </div>
        </div>
        <div>
            <img th:src="@{/ui/images/Header_Carpenter.jpg}">
        </div>
    </div>
    <!--内容分栏-->
    <div class="container">
        <!--<div class="layui-row layui-btn-fluid layui-bg-gray" >&lt;!&ndash;layui-bg-white&ndash;&gt;
            <div class="content-center font-size-17" style="color: #000000;">
                <div class="line-height-100" >
                    <div>
                        <h2 class="font-bold">了解产业集群</h2>
                    </div>

                </div>
                <div>
                    <strong>产业集群可以帮助到你什么？</strong>
                </div>
                <div class="layui-container" style="padding-bottom: 50px;">
                    <div class="info">
                        <p class="padding-bottom-30">
                            产业集群（industry cluster）亦称“产业簇群”、“竞争性集群”、“波特集群”。某一行业内的竞争性企业以及与这些企业互动关联的合作企业、专业化供应商、服务供应商、相关产业厂商和相关机构(如大学、科研机构、制定标准的机构、产业公会等）聚集在某特定地域的现象。如信息技术企业和相关厂商、相关机构等在美国硅谷的聚集。美国波特1990年在《国家竞争优势》一书中提出并详加论述。有助于相互竞争的企业提高竞争力，对特定产业的发展和国家竞争力的增强有重要作用。
                        </p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="layui-row layui-bg-white">
            <div class="layui-col-md12">
                <div class="icon-lable" style="overflow: hidden;">
                    <div class="margin-40">
                        <strong class="font-size-30">产业集群可以带给您什么服务</strong>
                    </div>
                    <div style="margin: auto;overflow: hidden;">
                        <ul class="content-ul" style="    text-align: center;">
                            <li>
                                构建智慧产业
                            </li>
                            <li>
                                塑造区域国际品牌
                            </li>
                            <li>
                                全球营销产品
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="layui-row layui-btn-fluid layui-bg-white" >&lt;!&ndash;layui-bg-white&ndash;&gt;
                <div class="content-center font-size-20" style="color: #000000;">
                    <div class="line-height-100" >
                        <div><h2>产业集群的商业模式</h2></div>
                    </div>
                    <div class="layui-container" style="padding-bottom: 50px;">
                        <div>
                            <div class="layui-col-md6">
                                <div class="layui-bg-darkblue padding-20 margin-20">
                                    <strong>微信/微博推广</strong>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="layui-col-md6">
                                <div class="layui-bg-darkblue padding-20 margin-20">
                                    <strong>小红书推广</strong>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
        </div>-->
        <div class="layui-row layui-bg-darkblue" >
            <div class="layui-col-md12">
                <div class="icon-lable" style="padding: 80px;">
                    <div class="layui-inline">
                        <strong >资源整合，合作共赢，提供优质服务</strong><br>
                        <div style="margin-top: 10px;"><a class="layui-btn layui-bg-blue layui-bg-blue" href="/placeOrder/info">现在申请</a></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-row layui-bg-white">
            <div class="layui-col-md12">
                <div class="icon-lable" style="overflow: hidden;">
                    <div class="margin-40">
                        <strong class="font-size-30">我们可以带您解决什么痛点？</strong>
                    </div>
                    <div style="margin: auto;">
                        <div class="layui-col-md3"></div>
                        <div class="layui-col-md9">
                            <ul class="content-ul">
                                <li>企业小而全，定位不清晰。产业链的定位不清晰，没有形成企业间上下游的合作。</li>
                                <li>品牌意识不强，产业文化尚未形成。“只见星星，不见月亮”，无突出的品牌企业，普遍依赖低成本相互模仿，劣币驱逐良币现象严重，内耗式竞争造成资源严重浪费。</li>
                                <li>市场拓展渠道狭窄。主要靠价格战取得订单，缺乏客户忠诚度，抗风险能力差。</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
       <!-- <div class="layui-row layui-btn-fluid layui-bg-white padding-bottom-50" >&lt;!&ndash;layui-bg-white&ndash;&gt;
            <div class="content-center font-size-17 height-500" style="color: #000000;">
                &lt;!&ndash;<div class="layui-col-md6">
                    <div class="margin-40">
                        <strong class="font-size-30">人物介绍</strong>
                    </div>
                </div>&ndash;&gt;
                <div class="layui-col-md12">
                    <div class="margin-40">
                        <i class="layui-icon layui-icon-dialogue font-size-50"></i><br>
                        <strong class="font-size-30">高度熟练的顾问，致力于为您服务</strong></div>
                    <div class="margin-40"><p>帮助个人形成符合自身条件的职业观点和职业前程，同时用自己的经验和专业知识为个人职业发展和职业过程中问题作出最合适的判断及指导。</p></div>
                </div>
            </div>
        </div>-->

    </div>

    <div th:include="common/newfooter :: common" ></div>

</body>

<script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>

<script>
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>

</html>