<link th:href="@{/ui/css/content.css}" rel="stylesheet">

<div style="width: 1200px;height: 250px;">
    <img th:src="@{/service/images/jrfw1.jpg}" height="250">
</div>
<div style="height: auto;width: 100%;margin-top: 10px;">
    <div style="height: 340px;border: 1px solid #d6cccc;">

        <div style="width: 400px;float: left;position: relative;left: 20px;top: 20px;">
            <img src="../../service/images/importinfo1.jpg" />
        </div>
        <div style="float: right;position: relative;width: 500px;left: -230px;top: 50px;">
                <span style="font-size: 30px;">股权投资</span><br/>
                <span style="position: relative;top: 10px;">接受出口货物收货人委托，代理客户签订国际贸易合同，为客户提供出口货物收货资质，帮助客户安排运输，以及货物到港以后的清关，海关商检查验，缴纳税费，货物放行等所有出口清关手续，为客户提供代理出口清关一条龙的省心服务。</span>
                <div style="padding-top: 50px;">
                    <img style="float: left;width: 40px;" src="../../service/images/pc-xc-icon2.png">
                    <span style="position: relative;left: 20px;font-size: 20px;top: 10px;">020-1233-3212</span>
                    <a class="layui-btn" style="position:relative;float:right;" onclick="loadPage('/service/logistics/form')">立即下单</a>
                </div>
        </div>
    </div>


    <!--产品介绍-->
    <div style="padding: 32px 0 0;height: 40px;font-size: 24px;line-height: 40px;border-bottom: 2px solid #d4d4d4;margin-bottom: 20px;">
        <span style="display: inline-block;height: 40px;font-size: 24px;color: #464646;font-weight: normal;border-bottom: 2px solid #333333;padding-left: 34px;background: url('../../service/images/p14-icon11.png') no-repeat 2px center;">产品介绍</span>
        <span style="font-size: 18px;font-family: Arial;text-transform: uppercase;font-style: normal;color: #c2c2c1;">/ Introduction</span>
    </div>
    <div>
        <div class="titl">
                <h2>
                    <p >Service commitment</p>
                    <span >服务承诺</span>
                </h2>
        </div>
        <div class="cs">
            <ul>
                <li>
                    <img src="../../service/images/94f312024e5b46bc9ac3793fcdf983e2_12.png"/>
                    <span>免费咨询</span>
                    <p>操作前提供免费咨询服务。</p>
                </li>
                <li>
                    <img src="../../service/images/94f312024e5b46bc9ac3793fcdf983e2_14.png"/>
                    <span>报关资料</span>
                    <p>提前做好报关资料，查获率压夜率低至1%。</p>
                </li>
                <li>
                    <img src="../../service/images/94f312024e5b46bc9ac3793fcdf983e2_8.png"/>
                    <span>清关效率</span>
                    <p>清关过程中一对一跟踪服务，提高清关效率。</p>
                </li>
                <li>
                    <img src="../../service/images/94f312024e5b46bc9ac3793fcdf983e2_10.png"/>
                    <span>快速清关</span>
                    <p>普通货物当天清关。</p>
                </li>
            </ul>
        </div>
        <div class="titl">
            <h2> <p> service value </p> <span>服务价值</span> </h2>
        </div>
        <div class="jkys">
            <div class="jkys_l">
                <img align="center" alt="出口优势" src="../../service/images/86576cb7b86541c2959efc8d7d1b2536_18.jpg" title="出口优势">
            </div>
            <div class="jkys_r">
                <ul>
                    <li> <span>咨询</span> <p> 出口前免费咨询服务，免费提供出口资质。 </p> </li>
                    <li> <span style="background:#5c81d3;">专注</span> <p> 超过12年专注出口，树立了良好的行业口碑 </p> </li>
                    <li> <span>赢领</span> <p> 全新模式出口，“物流+互联网+金融” </p> </li>
                    <li> <span style="background:#5c81d3;">高效</span> <p> 普通货物当天清关，食品类5-7个工作日入库 </p> </li>
                    <li> <span>安全</span> <p> 99.99%规避出口风险，无任何海关不良记录 </p> </li>
                    <li> <span style="background:#5c81d3;">省心</span> <p> 一站式服务，门到门、港到港、省时，省心，更省钱！ </p> </li>
                </ul>
            </div>
        </div>
        <div class="cl">
        </div>
        <div class="titl">
            <h2> <p> Service scope </p> <span>服务范围</span> </h2>
        </div>
        <div>
        <div style="background:url('../../service/images/4509de94206240739bac2a5c46f235d3_6.jpg')no-repeat 0 0;height:400px;width:100%;">
            <p style="padding:73px 0 20px 93px;width:485px;font-size:24px;line-height:35px;"> 一般贸易出口： <span style="display:block;font-size:14px;"> 首先要确定付款方式，是T/T呢，还是L/C呢，如果是L/C，那就要先开证，等开完信用证后，确定出口的船期，等船到以后。开始进行出口的操作。</span> </p>
            <p style="padding:5px 0 20px 93px;width:485px;font-size:24px;line-height:35px;"> 进料加工企业的出口： <span style="display:block;font-size:14px;">需要办手册，分为进料加工手册和来料加工手册两种手册。报关的时候要用加工贸易的手册，再加上一般贸易几口所需的资料进行报关</span> </p>
        </div>
        <div class="cl">
        </div>
        </div>
        <div class="titl">
            <h2> <p> Service port </p> <span>服务口岸</span> </h2>
        </div>
        <div class="jj">
            <div class="jj_l">
                <img align="center" alt="服务口岸" src="../../service/images/4509de94206240739bac2a5c46f235d3_2.jpg" title="服务口岸">
            </div>
            <div class="jj_r">
                <p style="font-size:24px;font-weight:bold;font-family:monospace;letter-spacing:2px;"> <span class="jj_b"></span> 鹏通服务口岸/机场 </p>
                <span> 华南：深圳、广州、东莞、佛山、中山、汕头 </span>
                <span> 华北：北京、天津 </span>
                <span> 华东：上海、宁波、厦门、青岛、天津</span>
            </div>
        </div>
    </div>

</div>