
<link href="../layui/css/layui.css" media="all" rel="stylesheet">
<link  th:href="@{/plugins/Waves/waves.min.css}" rel="stylesheet">
<style>
    .layui-input-block {
        margin-left: 140px;
        min-height: 36px;
    }
</style>

<div class="user-info-content">
    <div class="user-info-title">
        <span>企业认证</span>
    </div>
    <hr>
    <div class="user-info-content-form"  th:if="${company.status} == 1"><!--th:if="${company.status} == 1"-->

        <form class="layui-form" action="" lay-filter="example">

            <div class="layui-form-item">
                <label class="layui-form-label">* 企业名称</label>
                <div class="layui-input-block">

                        <input type="text" name="name" lay-verify="name" th:value="${company.name}"  autocomplete="off" placeholder="请输入企业名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">* 企业信用代码</label>
                <div class="layui-input-block">
                    <input type="text" name="creditCode" lay-verify="creditCode"  th:value="${company.creditCode}" autocomplete="off" placeholder="请输入企业信用代码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">* 企业地址</label>
                <div class="layui-input-block">
                    <input type="text" name="address" lay-verify="required" th:value="${company.address}" autocomplete="off" placeholder="请输入企业地址" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">* 企业邮箱</label>

                <div class="layui-input-block">
                    <input type="text" name="email" lay-verify="email" th:value="${company.email}" autocomplete="off" placeholder="请输入企业邮箱" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">&nbsp;&nbsp;企业电话</label>

                <div class="layui-input-block">
                    <input type="text" name="telephone" lay-verify="telephone|required" th:value="${company.telephone}" autocomplete="off" placeholder="请输入企业电话" class="layui-input">
                </div>

            </div>
            <!--<div class="layui-form-item">
                <label class="layui-form-label">* 营业执照照片</label>
                <input type="hidden" id="businessLicenseImgUrl" name="businessLicenseImgUrl" lay-verify="required">
                <div class="layui-upload">
                    &lt;!&ndash;<div th:if="${company.businessLicenseImgUrl==null}">&ndash;&gt;
                        <button type="button" class="layui-btn" id="headImg" style="margin-left: 17px;">上传营业执照照片</button><p id="text" style="float: right;"></p>

                        <div class="layui-upload-list">
                            <img class="layui-upload-img" id="preview" style="float: right;width: 360px;height: 200px;">

                        </div>
                    &lt;!&ndash;</div>&ndash;&gt;
                    &lt;!&ndash;<div th:if="${company.businessLicenseImgUrl!=null}">
                       &lt;!&ndash; <button type="button" class="layui-btn" id="headImg" style="margin-left: 17px;">上传营业执照照片</button><p id="text" style="float: right;"></p>&ndash;&gt;

                        <div class="layui-upload-list">
                            <img class="layui-upload-img" th:src="'/image/headImg/no/'+${company.businessLicenseImgUrl}" id="preview" style="float: right;width: 360px;height: 200px;">

                        </div>
                    </div>&ndash;&gt;
                </div>

            </div>-->

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;"  >
                    <div th:if="${company.name==null}">
                        <a class="layui-btn layui-btn-normal button" style="width: 100%;" lay-submit="" lay-filter="enterpriseInfo">提交成功，进行审核</a>
                    </div>
                    <div th:if="${company.name!=null}">
                        <!--<a class="layui-btn layui-btn-normal" style="width: 100%;" lay-submit="" lay-filter="enterpriseInfo">提交修改</a>-->
                    </div>

                </div>
            </div>
        </form>
    </div>

    <div th:if="${company.status} == 0" class="content-center">
        <span>认证中......请等待</span>
    </div>
    <div th:if="${company.status} == 2" class="content-center">
        <span>已拒绝你的认证申请，请联系客服</span><br>
        <span>理由 : </span>
        <span th:text="${company.reviewTheMessage}"></span>
    </div>

</div>
<script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/plugins/Waves/waves.min.js}"></script>
<script>

    Waves.init();
    Waves.attach('.button', ['button']);

    layui.use(['form','upload','layedit', 'laydate'], function() {
        var $ = layui.jquery
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            ,upload = layui.upload;

        form.render();

        laydate.render({
            elem: '#date'
        });

        /*form.val('example', {
            "name": "广州亚信商贸有限公司" // "name": "value"
            ,"email": "1071476126@qq.com"
            ,"creditCode": "185201079401111111"
            ,"address": "广东省广州市天河区猎德街道富力盈凯广场4203号"
            ,"telephone": "18520107941"
        })*/

        //自定义验证规则
        form.verify({
            name: function(value){
                //企业名称  检验不能重复
                if(value.length < 5){

                }
            },
            creditCode:function (value) {
                //企业信用代码
                if(value.length != 18){
                    return "请输入正确的企业信用代码";
                }
            },
            email:function (value) {
                //企业邮箱  //校验企业邮箱是否存在
            },
            telephone:function (value) {
                //企业电话
            }
        });

        //监听提交
        form.on('submit(enterpriseInfo)', function(data){
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/

            commit(data.field,'/enterprise/save','/user/enterpriseAuthentication')

            return false;
        });




        //上传头像
        var uploadInst = upload.render({
            elem: '#headImg'
            //,url: '/upload/uploadImg'
            ,url: '/awx/uploadFile'
            //,url: 'https://api-demo.airwallex.com/api/v1/files/upload'
            //,headers: {Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJqdGkiOiI5ODI0N2JhYi0zODM2LTQ0NWQtYTgzNy02YjI3MGYwYzM1YTAiLCJzdWIiOiIzZTAzZWZkZS03Mjc2LTQzZGYtYjgyOS00NTFhOWJhYWY5YmIiLCJpYXQiOjE1NTEwNzk0NjEsImV4cCI6MTU1MTA4MTI2MX0.vpBWUMi7o8r6D7S1ag3s-MifFBxGXatABXFSPnvwSEQ'}
            /*,auto: false*/
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#preview').attr('src', result); //图片链接（base64）
                });

            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }else{
                    //上传成功
                    alert(res.uploadedFiles)
                    $("#businessLicenseImgUrl").val(res.uploadedFiles);
                    //$("#imageURL").val("aa");
                    return layer.msg('上传成功');
                }

            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#text');
                demoText.html('<span style="color: #FF5722;font-size: 16px;">上传失败</span> <a class="layui-btn  layui-btn-danger demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


    })






</script>