<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>全球开店</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" media="all" rel="stylesheet">
    <link th:href="@{/ui/css/newIndex.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/ui/css/select.css}">
    <link  th:href="@{/plugins/Waves/waves.min.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ui/images/favicon.ico}">


    <style>

        .user-intro > div{
            margin: 20px;
            text-align: center;
        }

    </style>

</head>
<body >
<!--导航栏-->

<div th:include="common/newtop :: common" ></div>

<div style="padding-top: 60px;background: #f7f1f1;">
    <div class="layui-container" style="padding-top: 60px;">
        <div class="layui-row layui-col-space15" >
            <div class="layui-col-lg9 layui-col-md9 layui-col-sm9 layui-col-xs9" >
                <div class="layui-card" style="background: white;border-radius: 5px;">
                    <div class="user-info-content" >
                        <div class="user-info-title" style="font-size: 16px;padding: 20px 20px 0px 20px;">
                            <a href="javascript:void(0);" style="padding-right: 40px;color:red;"><strong>全球开店</strong></a>
                        </div>
                        <hr>
                        <div id="userInfo">
                            <div class="user-info-accountManagement" style="padding: 20px;">
                                <div class="layui-row">
                                    <div class="layui-col-md4" style="box-shadow: 3px 3px 3px #cec3c3;margin-right: 30px;">
                                        <img th:src="@{/ui/images/demoimg.jpg}" style="width: 100%;">
                                    </div>
                                    <div class="layui-col-md6">
                                        <div style="margin: 10px;font-size: 20px;"><strong>AlasinShop</strong></div>
                                        <div style="margin: 10px;"><span>你的alasinshop已成功开设，我们的工作人员将在一个工作内与您联系，敬请留意。</span></div>
                                        <div style="margin: 10px;"><span>管理后台演示账号：admin   密码：admin</span></div>
                                        <div style="margin: 10px;"><a target="_blank" href="http://alasinshop.alasin.cn" class="layui-btn layui-btn-normal">前台演示</a><a target="_blank" href="http://alasinshop.alasin.cn/admin" class="layui-btn layui-btn-warm">管理后台演示</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-lg3 layui-col-md3 layui-col-sm3 layui-col-xs3 " style="height: 600px;">
                <div class="layui-card" style="background: white;border-radius: 5px;">
                    <div class="right-select" style="padding: 30px;">
                        <div class="user-intro">
                            <div class="user-pic"><img th:src="@{/ui/images/favicon.ico}"     width="90"/></div>
                            <div class="user-name"><span th:text="${userEntity.userName}"></span></div>
                            <!--<div class="user-lv">普通会员</div>-->
                            <div class="user-addVip">
                                <div><a href="/VIP/index" class="layui-btn layui-btn-normal layui-bg-blue button" style="width: 100%">加入阿拉山会员</a></div>
                            </div>
                            <div class="user-addVip">
                                <div th:if="${userEntity.companyStatus} == 0 ">
                                    <a class="layui-btn layui-btn-danger  button" style="width: 100%" href="/user/info?type=1">申请企业认证</a>
                                </div>
                                <div th:if="${userEntity.companyStatus} eq 3 ">
                                    <a class="layui-btn layui-btn-danger  button" style="width: 100%" href="/user/info?type=1">认证审核中</a>
                                </div>
                                <!--等于1表示已认证-->
                                <div  th:if="${userEntity.companyStatus} eq 1 ">
                                    <a class="layui-btn layui-btn-normal button" style="width: 100%" href="/user/info?type=1">查看认证信息</a>
                                </div>
                                <div  th:if="${userEntity.companyStatus} eq 2 ">
                                    <a class="layui-btn layui-btn-normal button" style="width: 100%" href="/user/info?type=1">查看认证结果</a>
                                </div>
                            </div>
                        </div>
                        <div class="layui-collapse" >
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">我的账户</h2>
                                <div class="layui-colla-content layui-show" >
                                    <div><a class="button" href="/user/info?type=1" >个人资料</a></div>
                                    <div><a class="button" href="/user/accountManagement">账号管理</a></div>
                                    <div><a class="button" href="/user/changePassword">修改密码</a></div>
                                    <div><a class="button" href="/awx/createAccount">结算账户认证</a></div>
                                    <div><a class="button" href="/solutionService/info">全球开店</a></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



<div th:include="common/newfooter :: common" ></div>

<script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/ui/js/select.js}"></script>
<script th:src="@{/ui/js/app.js}"></script>
<script th:src="@{/plugins/Waves/waves.min.js}"></script>

<script type="text/javascript">
    Waves.init();
    Waves.attach('.button', ['button']);

    layui.use(['form','layedit'], function() {
        var $ = layui.jquery
            , form = layui.form
            , layer = layui.layer;

        form.render();

        //自定义验证规则
        form.verify({
            newPassword:function (value) {
                if(value.length > 6 && value.length < 18){
                    return "请输入长度为6到18位的密码";
                }
            },
            verifyPassword:function (value) {

               var newPassword = $("#newPassword").val();

               if(newPassword!=value){
                   return "两次输入的密码不一致，请重试！";
               }
            }
        });

        //监听提交
        form.on('submit(passwordInfo)', function(data){
            /*layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })*/
            commit(data.field,'/user/updatePassword','/login')
            return false;
        });


    })



</script>