<div style="background: url('../../service/images/import.jpg');width: 1200px;height: 250px;">

</div>
<div style="height: auto;width: 100%;margin-top: 10px;">
    <div style="height: 450px;border: 1px solid #d6cccc;">

        <img src="../../ui/images/CommerceImport01.png" height="450">
        <a class="layui-btn layui-btn-lg" style="position: relative;float: right;top: -72px;font-size: 30px;left: -40px;height: 50px;opacity: 1;" onclick="loadPage('/service/import/form')">立即下单</a>
        <!--<div style="width: 400px;float: left;position: relative;left: 20px;top: 20px;">
            <img src="../../service/images/importinfo1.jpg" />
        </div>
        <div style="float: right;position: relative;width: 500px;left: -230px;top: 50px;">
                <span style="font-size: 30px;">进口清关代理</span><br/>
                <span style="position: relative;top: 10px;">接受进口货物收货人委托，代理客户签订国际贸易合同，为客户提供进口货物收货资质，帮助客户安排运输，以及货物到港以后的清关，海关商检查验，缴纳税费，货物放行等所有进口清关手续，为客户提供代理进口清关一条龙的省心服务。</span>
                <div style="padding-top: 50px;">
                    <img style="float: left;width: 40px;" src="../../service/images/pc-xc-icon2.png">
                    <span style="position: relative;left: 20px;font-size: 20px;top: 10px;">020-1233-3212</span>
                    <a class="layui-btn" style="position:relative;float:right;" onclick="loadPage('/service/import/form')">立即下单</a>
                </div>
        </div>-->
    </div>


    <!--产品介绍-->
    <div style="padding: 32px 0 0;height: 40px;font-size: 24px;line-height: 40px;border-bottom: 2px solid #d4d4d4;margin-bottom: 20px;">
        <span style="display: inline-block;height: 40px;font-size: 24px;color: #464646;font-weight: normal;border-bottom: 2px solid #333333;padding-left: 34px;background: url('../../service/images/p14-icon11.png') no-repeat 2px center;">产品介绍</span>
        <span style="font-size: 18px;font-family: Arial;text-transform: uppercase;font-style: normal;color: #c2c2c1;">/ Introduction</span>
    </div>
    <div>
        <div class="titl">
                <h2>
                    <p ></p>
                    <span >服务承诺</span>
                </h2>
        </div>
        <div class="cs" style="height: 400px;">
            <img src="../../ui/images/CommerceImport02.png" style="margin: 0 auto;">
        </div>
        <div class="titl">
            <h2> <p>  </p> <span>B2C海外直邮服务</span> </h2>
        </div>
        <div class="jkys" style="height: 500px;">
            <img src="../../ui/images/CommerceImport03.png" >
        </div>
        <div class="cl">
        </div>
        <div class="titl">
            <h2> <p>  </p> <span>进口操作流程</span> </h2>
        </div>
        <div>
            <img src="../../ui/images/CommerceImport04.png" >
        </div>
        <div class="titl">
            <h2> <p> </p> <span>代理进口优势</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport05.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>BBC保税进口服务</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport06.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>进口操作流程</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport07.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>代理进口优势</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport08.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>代理进口优势</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 450px;">

            <img src="../../ui/images/CommerceImport10.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>应用场景</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 400px;">

            <img src="../../ui/images/CommerceImport11.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>快件个人物品</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport12.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>进口操作流程</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport13.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>代理进口优势</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport14.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>邮件个人物品</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport15.png" >

        </div>
        <div class="titl">
            <h2> <p> </p> <span>进口操作流程</span> </h2>
        </div>
        <div class="jj" style="margin-bottom: 50px;height: 500px;">

            <img src="../../ui/images/CommerceImport16.png" >

        </div>
    </div>

</div>