<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>贸易保险</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" media="all" rel="stylesheet">
    <link th:href="@{/ui/css/newIndex.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ui/images/favicon.ico}">

</head>
<body >
    <!--导航栏-->
    <div th:include="common/newtop :: common" ></div>

    <!--介绍图-->
    <div class="layui-row layui-btn-fluid brand-img">
        <div class="brand-img wrapper">
            <div class="wrapper-content">
                <h1 >贸易保险</h1>
                <h2>保障您的企业避免因发生未偿付的贸易债款而蒙受损失</h2>
                <a class="layui-btn layui-btn-big layui-bg-darkblue" href="/fintechCloud/tradeInsurance/form" >现在申请</a>
            </div>
        </div>
        <div>
            <img th:src="@{/ui/images/ppch1.png}">
        </div>
    </div>
    <!--内容分栏-->
    <div class="container">
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="icon-lable">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-star" ></i>
                    </div>
                    <div class="layui-inline">
                        <strong >保障全面</strong><br><br>
                        <p >多方面保障你的全球贸易安全</p>
                    </div>

                </div>
            </div>
            <div class="layui-col-md4">
                <div class="icon-lable">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-dollar" ></i>
                    </div>
                    <div class="layui-inline">
                        <strong >操作简便</strong><br><br>
                        <p >简便的一站式全方位智能服务</p>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="icon-lable">
                    <div class="layui-inline">
                        <i class="layui-icon layui-icon-praise" ></i>
                    </div>
                    <div class="layui-inline">
                        <strong >企业专属</strong><br><br>
                        <p >专属出口收汇风险的保障方案</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="layui-row layui-btn-fluid layui-bg-white" ><!--layui-bg-white-->
                <div class="content-center font-size-17" style="color: #000000;">
                    <div class="line-height-100" >
                        <div>
                            <h2 class="font-bold">了解贸易保险</h2>
                        </div>

                    </div>
                    <div>
                        <strong>贸易保险可以帮助到你什么？</strong>
                    </div>
                    <div class="layui-container" style="padding-bottom: 50px;">
                        <div class="info">
                            <p class="padding-bottom-30">
                                对外贸易保险是指对进出口货物在运输过程中受到的各种风险损失采取的一种社会互助性质的补偿方法。对外贸易货运保险业务是随着国际贸易和航海事业的发展而发展起来的。货运保险业务的发展，反过来又促进了国际贸易和航运事业的发展。早在5世纪以前希腊、罗马奴隶制国家在地中海东部和黑海沿岸进行贩运贸易，原始形式的海上保险开始形式。随着国际贸易的不断发展和日益扩大以及海上运输事业的发展，海运保险条款日益完善。同时，还促进了其他货运方式保险业务的发展。现代对外贸易保险已成为国际贸易中不可缺少的业务之一。
                            </p>
                            <!--<p  class="padding-bottom-30">
                                指银行向客户（核心企业）提供融资和其他结算、理财服务，同时向这些客户的供应商提供贷款及时收达的便利，或者向其分销商提供预付款代付及存货融资服务。（简单地说，就是银行将核心企业和上下游企业联系在一起提供灵活运用的金融产品和服务的一种融资模式。）
                            </p>
                            <p  class="padding-bottom-30">
                                以上定义与传统的保理业务及货押业务 （动产及货权抵/质押授信）非常接近。但有明显区别，即保理和货押只是简单的贸易融资产品，而供应链金融是核心企业与银行间达成的，一种面向供应链所有成员企业的系统性融资安排。
                            </p>-->
                        </div>
                    </div>
                </div>
        </div>
        <div class="layui-row layui-bg-gray" style="padding: 20px;">
            <div class="layui-container">
                <div class="layui-bg-darkblue padding-20" style="text-align: center;font-size: 20px;">
                    <strong >贸易保险服务</strong>
                </div>
                <div class="layui-bg-white">


                    <div class="layui-row">
                        <div style="font-size: 16px;padding: 20px 20px 10px 20px;">
                            <strong >中长期出口信用保险</strong>
                            <hr>
                        </div>
                        <div class="layui-col-md4" style="margin: 0 20px;">
                            <img th:src="@{/ui/images/lkfj32esdkfj.png}" style="width: 100%;">
                        </div>
                        <div class="layui-col-md7" style="margin: 20px;">
                            <ul class="tri" >
                                <li>
                                    <strong>中长期出口信用保险</strong><br>
                                    <p>为金融机构、出口企业或租赁公司收回融资协议、商务合同或租赁协议项下应收款项提供风险保障，承保业务的保险期限一般为2-15年。</p>
                                </li>
                                <li>
                                    <strong>出口买方信贷保险</strong>
                                    <p>在买方信贷融资方式下，阿拉山向金融机构提供的、用于保障其资金安全的保险产品。</p>
                                </li>
                                <li>
                                    <strong>出口卖方信贷保险</strong>
                                    <p>在出口方提供融资的方式下，阿拉山向出口方提供的、用于保障其收汇安全的保险产品。</p>
                                </li>
                                <li>
                                    <strong>再融资保险</strong>
                                    <p>在金融机构无追索权地买断出口商务合同项下的中长期应收款后，中国信保向金融机构提供的、用于保障其资金安全的保险产品。</p>
                                </li>
                                <li>
                                    <strong>海外融资租赁保险</strong>
                                    <p>阿拉山为出租人提供租赁项目所在国政治风险及承租人信用风险的风险保障。</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div style="font-size: 16px;padding: 20px 20px 10px 20px;">
                            <strong >海外投资保险简介</strong>
                            <hr>
                        </div>
                        <div class="layui-col-md4" style="margin: 0 20px;">
                            <img th:src="@{/ui/images/_20190302172552.png}" style="width: 100%;">
                        </div>
                        <div class="layui-col-md7" style="margin: 20px;">
                            <ul class="tri" >
                                <li>
                                    <strong>海外投资保险简介</strong><br>
                                    <p>为投资者及金融机构因投资所在国发生的征收、汇兑限制、战争及政治暴乱、违约等政治风险造成的经济损失提供风险保障，承保业务的保险期限不超过20年。</p>
                                </li>
                                <li>
                                    <strong>海外投资（股权）保险</strong>
                                    <p>该产品是阿拉山为鼓励中国企业的对外投资而提供的、承担投资项下股东权益损失的保险产品。</p>
                                </li>
                                <li>
                                    <strong>海外投资（债权）保险</strong>
                                    <p>该产品是阿拉山为鼓励中国企业为其海外投资项目提供股东贷款、金融机构为中国企业海外投资项目提供贷款、以及阿拉山认可的其他投融资形式，向企业或金融机构提供的、承担其债权损失的保险产品。</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-row">
                        <div style="font-size: 16px;padding: 20px 20px 10px 20px;">
                            <strong >短期信用保险</strong>
                            <hr>
                        </div>
                        <div class="layui-col-md4" style="margin: 0 20px;">
                            <img th:src="@{/ui/images/bgf20190302172601.png}" style="width: 100%;">
                        </div>
                        <div class="layui-col-md7" style="margin: 20px;">
                            <ul class="tri" >
                                <li>
                                    <strong>短期出口信用保险</strong><br>
                                    <p>为以信用证、非信用证方式从中国出口的应收账款提供收汇风险保障，承保业务的信用期限一般为一年以内。</p>
                                </li>
                                <li>
                                    <strong>国内贸易信用保险</strong>
                                    <p>为在中国境内注册的企业保障在国内贸易中，因买方商业风险造成的应收货款损失，或因供应商商业风险造成的不能收回预付款的损失。</p>
                                </li>
                                <li>
                                    <strong>进口预付款保险</strong>
                                    <p>为有进口经营权的企业提供在进口贸易中因供应商所在国政治风险或供应商商业风险导致的预付款无法收回的风险保障。</p>
                                </li>
                                <li>
                                    <strong>买方违约保险</strong>
                                    <p>该产品是向中国出口企业提供的、承担因政治风险和商业风险导致的商务合同项下成本投入损失的短期出口信用保险产品，适用于机电产品、成套设备、工程承包、船舶等行业。</p>
                                </li>
                                <li>
                                    <strong>特定合同保险</strong>
                                    <p>该产品是为中国出口企业提供的、承担其出口商务合同项下因政治风险和商业风险导致的应收账款损失的保险产品，商务合同项下的出口标的物通常为机电产品、成套设备、高新技术产品等资本性或准资本性货物、大宗贸易商品及承包工程，以及与之相关的服务。</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-row" style="padding-bottom: 20px;">
                        <div style="font-size: 16px;padding: 20px 20px 10px 20px;">
                            <strong >担保简介</strong>
                            <hr>
                        </div>
                        <div class="layui-col-md4" style="margin: 0 20px;">
                            <img th:src="@{/ui/images/dfg2340190302172613.png}" style="width: 100%;">
                        </div>
                        <div class="layui-col-md7" style="margin: 20px;">
                            <ul class="tri" >
                                <li>
                                    <strong>融资担保</strong><br>
                                    <p>国信保以跨境担保的方式，向境外融资银行（或其他债权人）出具见索即付保函，承担特定境外借款人的还款风险，一般由该境外借款人的国内最高信用级别的母公司向中国信保提供全额反担保，或提供中国信保接受的其他形式的反担保。</p>
                                </li>
                                <li>
                                    <strong>非融资担保</strong>
                                    <p>阿拉山以保函形式为保险客户的海外工程承包、成套设备（出口）等项目，向境外业主（买家）承担中方工程承包企业（出口商）的履约风险，包括投标保函、预付款保函、履约保函、质量保函等</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-row" style="padding-bottom: 20px;">

                        <div class="layui-col-md12" >
                            <img th:src="@{/ui/images/1551521214.jpg}" style="width: 100%;">
                        </div>

                    </div>


                </div>

            </div>
        </div>
        <div class="layui-row layui-btn-fluid layui-bg-gray" style="padding-top: 50px;" ><!--layui-bg-white-->
            <div class="content-center font-size-20" style="color: #000000;">
                <!--                <div class="line-height-100" >
                                    <div><h2>了解我们的基金产品</h2></div>
                                </div>-->
                <div class="layui-container" style="padding-bottom: 50px;">
                    <div>
                        <div class="layui-col-md4">
                            <div class="layui-bg-darkblue padding-20">
                                <strong>海洋运输保险</strong>
                            </div>
                            <div class="content-ul layui-bg-white padding-20" style="height: 500px;">
                                <ul>
                                    <li>
                                        <div class="left"><strong><i class="layui-icon layui-icon-rmb"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>一切险</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left"><strong><i class="layui-icon layui-icon-engine"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>水渍险</strong>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="left"><strong><i class="layui-icon layui-icon-console"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>平安险</strong>
                                        </div>
                                    </li>
                                </ul>

                                <p style="line-height: 25px;margin: 20px;">一切险的责任范围最大，由于外来原因造成的包括被偷窃、短少在内的全部或部分损失，包括除战争和罢工等危险以外的一切外来原因所造成的损失。水渍险与平安险的责任范围基本相同，所不同的仅是水渍险负责海上自然灾害和意外事故所造成的部分损失，而平安险则不负此项责任。</p>

                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="layui-col-md4">
                            <div class="layui-bg-blue padding-20">
                                <strong>陆上运输保险</strong>
                            </div>
                            <div class="content-ul layui-bg-white padding-20" style="height: 500px;">
                                <ul>
                                    <li>
                                        <div class="left"><strong><i class="layui-icon layui-icon-engine"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>陆运险</strong>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="left"><strong><i class="layui-icon layui-icon-console"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>陆运综合险</strong>
                                        </div>
                                    </li>
                                </ul>

                                <p style="line-height: 25px;margin: 20px;">陆运险：被保险货物在运输途中遭遇暴风、雷电、地震、洪水等自然灾害；或由于运输工具遭受碰撞、倾覆或出轨；如有驳运过程，保险日期为货物到达最后卸载的车站后60天为限。则包括驳运工具搁浅、触礁、沉没、碰撞；或由于运输工具遭遇隧道坍塌、崖崩或火灾、爆炸等意外事故所造成的全部或部分损失。直至该项货物送交保险单载明的目的地收货人仓库时为止。</p>
                                <p style="line-height: 25px;margin: 20px;">陆运综合险：包括正常陆运和有关水上驳运在内，由于外来原因造成的短少、短量、偷窃、渗漏、碰损、破碎、钩损、雨淋、生锈、受潮、受热、发霉、串味、沾污等全部或部分损失。</p>


                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="layui-col-md4">
                            <div class="layui-bg-darkblue padding-20">
                                <strong>航空运输保险</strong>
                            </div>
                            <div class="content-ul layui-bg-white padding-20" style="height: 500px;">
                                <ul>
                                    <li>
                                        <div class="left"><strong><i class="layui-icon layui-icon-engine"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>航空运输险</strong>
                                        </div>
                                    </li>
                                    <li >
                                        <div class="left"><strong><i class="layui-icon layui-icon-console"></i></strong></div>
                                        <div class="padding-left-30">
                                            <strong>航空运输综合险</strong>
                                        </div>
                                    </li>
                                </ul>


                                <p style="line-height: 25px;margin: 20px;">航空运输险指被保险货物在运输途中遭遇雷电、火灾、爆炸或由于飞机遭受碰撞、倾覆、堕落或失踪等意外事故所造成的全部或部分损失。航空运输综合险除包括上述航空运输险的责任外，对被保险货物在运输途中由于外来原因造成的，包括被偷窃、短少等的全部或部分损失，保险公司也负赔偿责任。</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--<div class="layui-row layui-btn-fluid layui-bg-white" style="font-size: 16px;">
            <div class="layui-container" style="padding-bottom: 50px;color: #000;">

                <div class="scf-list-info">
                    <a name="hyys"></a>
                    <div >
                        <div>
                            <h2 class="font-bold padding-bottom-30">海洋运输保险</h2>
                        </div>
                        <div>
                            <p  class="padding-bottom-30">
                                按保险责任范围大小，分为一切险、水渍险和平安险（伦敦保险市场现在改按条款 A、B、C来识别）。一切险的责任范围最大，由于外来原因造成的包括被偷窃、短少在内的全部或部分损失，包括除战争和罢工等危险以外的一切外来原因所造成的损失。水渍险与平安险的责任范围基本相同，所不同的仅是水渍险负责海上自然灾害和意外事故所造成的部分损失，而平安险则不负此项责任。三种险承保的自然灾害指在海上遭遇的雷电、海啸和恶劣气候形成的狂风巨浪以及在陆上遭遇的地震、洪水等；意外事故指船舶搁浅、触礁、沉没、互撞、失火、爆炸等。保险公司的赔偿责任还包括在船舶遇难的情况下，为了维护买卖双方和船方的共同利益，有意识地采取各种合理的抢救措施而产生的船、货和运费的损失与支出的额外费用（习惯上称共同海损）以及海上过往船舶按惯例对船、货的自动救助费用。另外，为鼓励保户及时抢救受损货物，赔偿责任还包括保户的合理施救费用。一般说来，必然损失和保户的有意行为造成的损失都是除外不保的。保户对上述三种保险可以选择投保。
                            </p>
                            <p >
                                根据1963年开始生效的，保险公司也负赔偿责任。由伦敦保险协会所制定的“协会货物条款”第一条运输条款的规定，上述三种险别的保险责任的开始和终止日期是：自货物运离保险单所载地点的仓库或储存处所开始运输时生效，在正常运输过程中继续有效，直至：①该项货物运达保险单所载目的地收货人仓库或储存处所或其他最后仓库或储存处所为止；或至：②该项货物运达保险单所载目的地或在目的地以前的其他仓库或储存处所时为止，这些仓库或储存所是被保险人为了分配、分派或是为了不属于正常运输的储存而决定使用的；或至：③货物在最后卸货港全部卸离海轮后满60天为止。
                            </p>
                        </div>

                    </div>
                    <a name="lsys"></a>
                    <div >
                        <div>
                            <h2 class="font-bold padding-bottom-30">陆上运输保险</h2>
                        </div>
                        <div>
                            <p  class="padding-bottom-30">
                                陆上运输（火车、汽车运输）货物保险分为：①陆运险。其责任范围是：被保险货物在运输途中遭遇暴风、雷电、地震、洪水等自然灾害；或由于运输工具遭受碰撞、倾覆或出轨；如有驳运过程，保险日期为货物到达最后卸载的车站后60天为限。则包括驳运工具搁浅、触礁、沉没、碰撞；或由于运输工具遭遇隧道坍塌、崖崩或火灾、爆炸等意外事故所造成的全部或部分损失。直至该项货物送交保险单载明的目的地收货人仓库时为止。②陆运综合险。包括正常陆运和有关水上驳运在内，其责任范围是：除包括陆运险的责任外，还包括由于外来原因造成的短少、短量、偷窃、渗漏、碰损、破碎、钩损、雨淋、生锈、受潮、受热、发霉、串味、沾污等全部或部分损失。
                            </p>
                            <p  >
                                保险责任是从被保险货物运离保险单所载明的启运地发货人的仓库或储存处所时生效，包括正常陆运和有关水上驳运在内，②陆运综合险。直至该项货物送交保险单载明的目的地收货人仓库时为止。保险日期为货物到达最后卸载的车站后60天为限。
                            </p>
                        </div>
                    </div>
                    <a name="hkys"></a>
                    <div >
                        <div>
                            <h2 class="font-bold padding-bottom-30">航空运输保险</h2>
                        </div>
                        <div>
                            <p  class="padding-bottom-30">
                                航空运输保险分为：①航空运输险。其责任范围是：被保险货物在运输途中遭遇雷电、火灾、爆炸或由于飞机遭受碰撞、倾覆、堕落或失踪等意外事故所造成的全部或部分损失。② 航空运输综合险。除包括上述航空运输险的责任外，对被保险货物在运输途中由于外来原因造成的，包括被偷窃、短少等的全部或部分损失，保险公司也负赔偿责任。保险公司对下述损失不负赔偿责任：被保险人的故意行为或过失所造成的损失；由于工人罢工或运输延迟所造成的损失；由于战争、敌对行为、武装冲突所造成的损失；由于上述原因引起的拘留、扣押、没收或封锁造成的损失和各种常规武器以及炸弹所造成的损失；由于原子弹、氢弹等核武器所造成的损失。
                            </p>
                            <p  >
                                航空运输货物保险起讫日期是：自被保险货物经航空公司收讫并签发航空运单时开始生效，在正常运输过程中继续有效，一般说来，直至货物运抵目的地交到收货人仓库或储存处所时止。但保险货物在到达目的地后，在航空公司保管期间的保险责任，最长期限以航空公司给收货人发出到货通知书当日午夜起算30天为限。
                            </p>

                        </div>
                    </div>
                    <a name="ybys"></a>
                    <div >
                        <div>
                            <h2 class="font-bold padding-bottom-30">邮包运输保险</h2>
                        </div>
                        <div>
                            <p  class="padding-bottom-30">
                                邮包运输保险分为:①邮包险。其责任范围是:被保险货物在运输途中，由于遭受雷电、暴风、地震、海啸、洪水等自然灾害或由于运输工具碰撞、搁浅、触礁、出轨、倾覆、堕落、失踪，或由于失火、爆炸等意外事故造成的全部或部分损失；或由上述事故引起的共同海损的牺牲、分摊和救助费用。②邮包综合险。除包括上述邮包险责任外，对被保险货物在运输途中，由于外来原因造成的包括被偷窃、短少在内的全部或部分损失，保险公司也负有赔偿责任。保险公司对因战争、敌对行为、武装冲突以及工人罢工所造成的损失，以及直接由于运输延迟或所保货物本质上的缺点或自然损耗所造成的损失，运输保险的责任范围也各有不同。被保险人的故意行为或过失所造成的损失，不负赔偿责任。
                            </p>
                            <p  >
                                保险期限是从被保货物经邮局收讫并签发邮包收据时起开始生效，直至货物运抵目的地后，按照对外贸易货物运输方式的不同，在邮局保管的最长保险责任期限，以邮局给收件人发出通知书当日午夜起算15天内为限。
                            </p>

                        </div>
                    </div>
                </div>
            </div>

        </div>-->
        <div class="layui-row layui-btn-fluid layui-bg-white" style="padding-top: 60px;"><!--layui-bg-white-->
            <div class="content-center font-size-17" style="color: #000000;">
                <div class="layui-container" style="padding-bottom: 50px;">
                    <div>
                        <div class="layui-col-md6">
                            <div class="content-ul margin-40">
                                <ul class="list" style="text-align: center;">
                                    <li><h3 class="padding-bottom-30 font-bold">贸易保险是否适合您？</h3></li>
                                    <li><a class="layui-btn layui-bg-blue" style="margin-bottom:30px;" href="/fintechCloud/tradeInsurance/form">现在申请</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="layui-col-md6">

                            <div class="content-ul margin-40">
                                <ul class="list">
                                    <li><h3 class="padding-bottom-30 font-bold color-blue">为何选择阿拉山？</h3></li>
                                    <li>1.<span class="font-bold">简单快捷</span>：方便容易的贸易保险服务</li>
                                    <li>2.<span class="font-bold">实力专业</span>：专业的保险专家时刻问您服务</li>
                                    <li>3.<span class="font-bold">量身定制</span>：根据您的需求制定专属的保险服务</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div th:include="common/newfooter :: common" ></div>

</body>

<script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>

<script>
    layui.use('element', function(){
        var element = layui.element;

        //…
    });
</script>

</html>