<!doctype html>
<html lang="en">
<head>
    <title>阿拉山-跨境贸易投资服务管理平台</title>
    <meta name="keywords" content="跨境电商,跨境电商平台,跨境电商服务平台,跨境电商新闻,跨境电商论坛,阿拉山网">
    <meta name="description" content="阿拉山网，致力于为跨境电商从业者提供跨境进出口、外贸、国内外财经政策等新闻资讯的跨境贸易投资服务管理平台，并拥有CCEE跨境智能选品平台，链接起跨境电商平台、服务商、工厂及众多卖家，致力打造跨境电商全新生态链条！">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="applicable-device" content="pc">
    <meta http-equiv="Cache-Control" content="no-transform">
    <link rel="icon" th:href="@{/ui/images/favicon.ico}">
    <link  th:href="@{/ui/css/user.css}" rel="stylesheet">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet">
    <script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
</head>

<style>
    .content{
        width: 100px;
        height: 100px;
        background-color: red;
    }
    .content:hover{

        animation: move 0.5s ease;
    }

    @keyframes move {
        0%{
            background-color: red;
        }
        50%{
            background-color: #0a6aa1;
        }
        100%{
            background-color: red;
        }
    }


</style>

<body>

<div class="content">

</div>


</body>

</html>