<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{/layui/css/layui.css}" media="all" rel="stylesheet">
    <link th:href="@{/ui/css/newIndex.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/ui/images/favicon.ico}">

</head>
<body >
    <!--导航栏-->

    <div th:include="common/newtop :: common" ></div>
    <!--内容分栏-->
    <div style="padding-top: 60px;">
        <div class="layui-container layui-bg-white" style="color: black;">
            <div style="margin: 40px;">
                <hr>
                <div class="layui-row">
                    <div class="layui-col-md8">
                        <div style="margin: 30px;">
                            <strong style="font-size: 30px;">个人信用贷款从alasin开始!</strong><br><br>
                            <span>假如今天得到批准，钱将在两天内到您的账户上。</span>
                        </div>
                    </div>
                    <div class="layui-col-md4" style="padding: 20px;">
                        <div>
                            <strong>有问题吗？</strong>
                        </div>
                        <div>
                            <span>
                                我们随时为您解答疑问或通过电话提出申请。
                            </span>
                        </div>
                        <div style="margin: 10px 0;">
                            <span style="font-size: 25px;">
                                020-85509186
                            </span>
                        </div>
                    </div>

                </div>

                <hr>
                <div style="margin: 30px;">
                    <div class="layui-row form-style">
                        <div class="layui-col-md6">
                            <form class="layui-form" action="" method="post" lay-filter="example" style="padding-bottom: 40px;">
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您需要多少资金？</strong>
                                    </div>
                                    <input type="text" name="ExpectMoney" lay-verify="required" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您什么时候需要这笔钱？</strong>
                                    </div>
                                    <div class="layui-inline">

                                        <select name="NeedTime" lay-verify="required" lay-filter="aihao">
                                            <option value="">--请选择--</option>
                                            <option value="72小时内">72小时内</option>
                                            <option value="3天-2周内">3天-2周内</option>
                                            <option value="3-4周内">3-4周内</option>
                                            <option value="一个月以上">一个月以上</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您将如何使用这笔资金？</strong>
                                    </div>
                                    <textarea type="text" name="Purpose" lay-verify="required"  autocomplete="off"  class="layui-textarea"></textarea>
                                </div>
                                <hr>

                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的名字</strong>
                                    </div>
                                    <input type="text" name="NikeName" lay-verify="required" autocomplete="off"  class="layui-input">
                                </div>

                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的身份证号码</strong>
                                    </div>
                                    <input type="text" name="IdentityCardNumber" lay-verify="identity" autocomplete="off"  class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的手机号码</strong>
                                    </div>
                                    <input type="text" name="Phone" lay-verify="phone" autocomplete="off"  class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的电子邮箱</strong>
                                    </div>
                                    <input type="text" name="Email" lay-verify="email" autocomplete="off"  class="layui-input">
                                </div>

                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的地址</strong>
                                    </div>
                                    <input type="text" name="Address" lay-verify="required" autocomplete="off" placeholder="尽可能详细的地址" class="layui-input">
                                </div>



                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>您的所属单位的名称</strong>
                                    </div>
                                    <input type="text" name="CompanyName" lay-verify="required" autocomplete="off"  class="layui-input">
                                </div>

                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>单位证明人</strong>
                                    </div>
                                    <input type="text" name="Certifier" lay-verify="required" autocomplete="off"  class="layui-input">
                                </div>
                                <div class="layui-form-item">
                                    <div class="title">
                                        <strong>单位证明人电话</strong>
                                    </div>
                                    <input type="text" name="CertifierPhone" lay-verify="phone" autocomplete="off"  class="layui-input">
                                </div>


                                <div> <a class="layui-btn layui-bg-blue"  lay-submit="" lay-filter="submit">提交</a></div>

                            </form>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>


    <div th:include="common/newfooter :: common" ></div>


    <div id="load" style="display: none;position: fixed;top: 450px;left: 38%;width: 500px;text-align: center;z-index: 9999;background: white;border-radius: 5px;">
        <strong id="tipText" style="font-size: 30px;">大数据系统正在为您预估您的额度，请稍等......</strong>
        <br>
        <br>
        <div class="container animation-6" style="margin: auto;    margin-bottom: 20px;">
            <div class="shape shape1"></div>
            <div class="shape shape2"></div>
            <div class="shape shape3"></div>
            <div class="shape shape4"></div>
        </div>
    </div>
    <div id="model" style="display: none;width: 100%;height: 1000px;top: 0;opacity: 0.7;position: fixed;background: #30514e;z-index: 999;"></div>

</body>

<script th:src="@{/ui/js/jquery_3_3_1_min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/ui/js/app.js}"></script>

<script>
    layui.use(['form','element', 'laydate'], function() {
        var form = layui.form
            ,laydate = layui.laydate
            ,element = layui.element;

        laydate.render({
            elem: '#date'
        });

        form.on('submit(submit)', function(data){


            document.getElementById("load").style.display = "block";
            document.getElementById("model").style.display = "block";
            var i = 3;
            setInterval(function(){
                i--;
                if(i==2){
                    document.getElementById("tipText").innerText = "正在全球联网查询放款通道......";
                }

                if(i==1){
                    document.getElementById("tipText").innerText = "结合全球各个放款通道，让你得到更多金钱......";
                }

                if(i==0){
                    document.getElementById("load").style.display = "none";
                    commitNotice(data.field,"/loans/personalLoans/save","/loans/enterpriseLoans/submitSuccess");
                    //commitNotice(data.field,"/loans/enterpriseLoans/save","/loans/enterpriseLoans/submitSuccess");
                }
            },1000);



            //window.location.href = "/submitSuccess";
            return true;
        });
    });
</script>

</html>